
<main class="conv-container">
  <section class="user-panel">
    <div class="user-panel-header">
      <h2 class="user-panel-header-text">Messages</h2>
      <svg
        xmlns="http://www.w3.org/2000/svg"
        viewBox="0 0 24 24"
        class="create-msg-btn"
      ><title>email-plus-outline</title><path
          d="M13 19C13 18.66 13.04 18.33 13.09 18H4V8L12 13L20 8V13.09C20.72 13.21 21.39 13.46 22 13.81V6C22 4.9 21.1 4 20 4H4C2.9 4 2 4.9 2 6V18C2 19.1 2.9 20 4 20H13.09C13.04 19.67 13 19.34 13 19M20 6L12 11L4 6H20M20 15V18H23V20H20V23H18V20H15V18H18V15H20Z"
        /></svg>
    </div>
    <div class="user-panel-body">
      <div class="create-conv-wrapper">
        <form id="create-conv-form" >
          <input
            id="create-conv-input"
            name="username" 
            type="text"
            placeholder="Search for a user"
          />
          <button class="create-conv-btn" type="submit">Create</button>
        </form>
        <div class="error-div" hidden></div>
        {{#if error}}
          <p class="alert-text">{{error}}</p>
        {{/if}}
      </div>
      <ul id="conv-panel-list">
        {{#each conversations}}
          <li class="conv-panel-list-item">
            <a class="conv-panel-link" href="/conversations/{{this._id}}">
              <div class="conv-pfp">
              <img
                class="conv-pfp-img"
                src="https://via.placeholder.com/150"
                alt="User Profile Picture"
              />
            </div>
            <div class="conv-user-info">
              <h3 class="conv-name">{{this.otherUsername}}</h3>
            </div>
            </a>
          </li>
        {{/each}}
      </ul>
    </div>

  </section>
  <section class="chat-panel">
    {{#if isIndividual}}
        <div class="chat-panel-header">
          <h2 class="chat-panel-header-text">{{this.otherUsername}}</h2>
        </div>
      <ul class="chat-panel-body">
         {{#if messages}}
            {{#each messages}}
              {{#if sentByCurrUser}}
                <li class="chat-message-r">
                  <div class="chat-message-content-r">
                      <p class="chat-message-text">{{this.content}}</p>
                  </div>
                </li>
              {{else}}
                <li class="chat-message-l">
                  <div class="chat-pfp">
                    <img
                      class="chat-pfp-img"
                      src="https://via.placeholder.com/150"
                      alt="User Profile Picture"
                    />
                  </div>
                  <div class="chat-message-content-l">
                      <p class="chat-message-text">{{this.content}}</p>
                  </div>
                </li>
              {{/if}}
            {{/each}}
            {{else}}
          <div class="no-messages-container">
            <p class="no-messages">No messages yet</p>
          </div>
          {{/if}}
    </ul>
    <form
      id="chat-form"
      method="POST"
      action="/conversations/{{this.currConvId}}"
    >
        <div class="chat-input-wrapper">
          <input
            id="chat-input"
            type="text"
            placeholder="Message {{this.otherUsername}}"
            name="message"
          />
          <button class="chat-button" type="submit">Send</button>
        </div>

    </form>
    {{else}}
        <div class="no-messages-container">
          <p class="no-messages">Create or select a conversastion</p>
        </div>
    {{/if}}
  </section>
</main>

{{> (lookup . 'partial') }}