
<main class="tradeRequest-container">
  <h1 class="tradeRequest-head">Trade Requests</h1>
    <ul class="tradeRequest-wrapper">
      {{#each tradeRequest}}
            <li class="tradeRequest-item">
                <a href="/profile/{{this.fromUser}}" class="tradeRequest-link">Trade Request From {{this.username}}</a>
                <div class="tradeRequest-image-wrapper">
                  <img src="{{this.listingFigureImageUrl}}" alt="listing image" class="listing-img">
                  <p class="trade-for">Trade For</p>
                  <img src="{{this.offeringFigureImageUrl}}" alt="offering image" class="offering-img">
                </div>

                <p class="tradeRequest-time"> on {{this.date}}</p>

                <form method="DELETE" id="trade-form" action="/tradeRequests/{{this._id}}">
                  <button type="submit" >DELETE</button>
                  <button class="accept-trade">
                    <p class="accept-trade-text">ACCEPT</p>
                  </button>
                </form>
            <li>
      {{/each}}
    </ul>
</main>